

<div class="head">
<ul class="link">
    <li> <a routerLink="/services" routerLinkActive="compActive">services</a></li>
    <li> <a [routerLink]="['/about','54']"routerLinkActive="compActive">about</a></li>
    <li> <a routerLink="/tabel" routerLinkActive="compActive">tabel</a></li>
    <li> <a routerLink="/add-employee" routerLinkActive="compActive">add Employee</a></li>
    <li> <a routerLink="/addemployeereactive" routerLinkActive="compActive">add EmployeeReactive</a></li>
    <li><a routerLink="/Login" routerLinkActive="compActive">LogIn</a> </li>
    <li> <a routerLink="/contact"routerLinkActive="compActive">contact</a></li>
    <li><a href="#" (click)="logout()">Sing out</a></li>
  </ul>
</div>
  <router-outlet></router-outlet> 
