<div class="log">
<div>
<h1>LOG IN</h1>
<div>
    <form [formGroup]="loginfrm" (ngSubmit)="lgin()">
        <div>
            <label for="fullName" class="cls">USER NAME:</label>
            <input type="text" name="fullname" id="fullName" formControlName="username">
        </div>
         <div>
            <label for="password" class="cls">PASSWORD:</label>
            <input type="password" name="pwd" id="password" formControlName="password">
         </div>

         <div class="btn">
            <button type="submit" [disabled]="!loginfrm.valid">Login</button>
         </div>
         <p *ngIf="userinvalid">
            <span style="color:red">Invalid user, please provide the correct value</span>
         </p>
    </form>
</div>
</div>

