<button (click)=" allproducts()">submit</button>
<table>
    <tr *ngIf="produ == true">
        <th>products id</th>
        <th>products catid</th>
        <th>products Name</th>
        <th>products price</th>
        <th>products disaccount</th>
        <th>products img</th>
    </tr>
        <tr *ngFor="let p of products">
        <td>{{p._id}}</td>
        <td>{{p.pdtCatId}}</td>
        <td>{{p. pdtName}}</td>
        <td>{{p.pdtPrice}}</td>
        <td>{{p.pdtDesc}}</td>
        <td>{{p.pdtImgPath}}</td>
    </tr>

</table>