/* You can add global styles to this file, and also import other style files */
.compactive{
    color: red !important;
    text-decoration: underline;
}

.err{
    color: red;
}

.errtxt{
    border:   solid red;
}